.container {
    border: solid 1px rgba(217,217,217,1);
    border-radius: 8px;
    padding: 10px;
    display: inline-block;
}

/* 크기 조절 */
.Teach_create {
    width: 600px;
    height: 700px;
}

.teach_list{
    width: 200px;
    height: 200px;
}

.login {
    width: 300px;
    height: 300px;
}

.signup {
    width: 300px;
    height: 400px;
}

.checkbox {
    width: 100%;
    height: 100px;
    padding: 10px 0 0 0;
}

.checkbox_large {
    width: 100%;
    height: 230px;
    padding: 10px 0 0 0;
}