# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# FastAPI
*.log
*.db
*.sqlite3
instance/

# Docker
docker-compose.override.yml

# IDE & OS
.vscode/
.DS_Store


#data
data_FTuning.json
# teach_data.json
# commentary_data.json

package-lock.json
node_modules

