.header {
    background-color: rgba(47,70,154,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title_link {
    margin: 0 2%;
}
.logo {
    width: 100px
    
}

.title {
    margin: 0;
}

.lgin_container {
    display: flex;
}

.lgin_container a {
    padding: 0 5px;
}

/* 로그아웃 */
.prople{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.userEmail{
    padding: 0 15px 0 5px;
    margin: 0;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
}