.container{
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: safe center;
    align-items: safe center;
    display: flex;
}
.content_container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content_container h3 {
    margin: 0;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
}